.container {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  padding: 0 1rem;

  @media (max-width: 920px) {
    max-width: 200px;
  }

  @media (max-width: 660px) {
    display: none;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

.detailsContent {
  display: flex;
  flex-direction: column;
}

.infoBlock {
  & + .infoBlock {
    margin-top: 1rem;
  }

  strong {
    margin-right: 0.5rem;
    font-size: 1.125rem;
  }
}