.container {
  width: 100%;
  height: 100%;
  border: 2px solid var(--text);
  display: flex;
  align-items: center;
}

.detailsContent {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.infoBlock {
  & + .infoBlock {
    margin-top: 1rem;
  }

  strong {
    margin-right: 0.5rem;
    font-size: 1.125rem;
  }
}